{
  "log": {
    "_recordingName": "build-user-group-relationship",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "25033a65e6c1ca4ef2a7143650b04ac3",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "key",
              "value": "376bf3a0-248c-4743-8ba5-144bc8192b9c"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://sentinel.whitehatsec.com/api/whoami"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=UTF-8",
            "size": 303,
            "text": "{\"id\":81197,\"username\":\"stefan.virag@contractor.jupiterone.com\",\"isAdmin\":false,\"privileges\":[\"PRIV_ASK_QUESTION\",\"PRIV_BLA_VIEW\",\"PRIV_VIEW_BETA\",\"PRIV_VIEW_SCAN\",\"PRIV_VIEW_SCHEDULE\",\"PRIV_VIEW_SITES\",\"PRIV_VIEW_VULN\"],\"hasJumped\":false,\"primaryClient\":78637,\"allSitesAdmin\":[78637],\"hasAssets\":true}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 726,
      },
      {
        "_id": "e5bc09d6ab2ce7233d8b1124cab3c2b8",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "key",
              "value": "376bf3a0-248c-4743-8ba5-144bc8192b9c"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "limit",
              "value": "50"
            },
            {
              "name": "offset",
              "value": "0"
            }
          ],
          "url": "https://sentinel.whitehatsec.com/api/groups?limit=50&offset=0"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=UTF-8",
            "size": 212,
            "text": "{\"page\":{\"totalCount\":2,\"filteredCount\":2},\"collection\":[{\"id\":77904,\"name\":\"NodeGoat\",\"description\":\"Test\",\"created\":1652486845},{\"id\":77905,\"name\":\"OWASP JuiceShop\",\"description\":\"Test\",\"created\":1652486849}]}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 548,
      },
      {
        "_id": "3387ed6ba3f845b78e399d3562664dbb",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "key",
              "value": "376bf3a0-248c-4743-8ba5-144bc8192b9c"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "limit",
              "value": "50"
            },
            {
              "name": "offset",
              "value": "0"
            }
          ],
          "url": "https://sentinel.whitehatsec.com/api/users?limit=50&offset=0"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=UTF-8",
            "size": 399,
            "text": "{\"collection\":[{\"id\":78639,\"username\":\"erica.nagle@jupiterone.com\",\"firstName\":\"\",\"lastName\":\"\",\"lastLogin\":1658800449,\"status\":\"Active\",\"createdDate\":1649240179,\"createdBy\":null,\"jobTitle\":\"\",\"mobile\":\"\",\"phone\":\"\",\"dataPrivacy\":false,\"timezone\":\"America/Los_Angeles\",\"vulnEmails\":false,\"emailFrequency\":{\"daily\":false,\"weekly\":false,\"monthly\":false}},{\"id\":78638,\"username\":\"sam.andrus@jupiterone.com\",\"firstName\":\"\",\"lastName\":\"\",\"lastLogin\":1662988332,\"status\":\"Active\",\"createdDate\":1649239110,\"createdBy\":null,\"jobTitle\":\"\",\"mobile\":\"\",\"phone\":\"\",\"dataPrivacy\":false,\"timezone\":\"America/Los_Angeles\",\"vulnEmails\":false,\"emailFrequency\":{\"daily\":false,\"weekly\":false,\"monthly\":false}},{\"id\":81197,\"username\":\"stefan.virag@contractor.jupiterone.com\",\"firstName\":\"Stefan\",\"lastNa[...]
