{
  "log": {
    "_recordingName": "fetch-account",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "25033a65e6c1ca4ef2a7143650b04ac3",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "key",
              "value": "376bf3a0-248c-4743-8ba5-144bc8192b9c"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://sentinel.whitehatsec.com/api/whoami"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=UTF-8",
            "size": 303,
            "text": "{\"id\":81197,\"username\":\"stefan.virag@contractor.jupiterone.com\",\"isAdmin\":false,\"privileges\":[\"PRIV_ASK_QUESTION\",\"PRIV_BLA_VIEW\",\"PRIV_VIEW_BETA\",\"PRIV_VIEW_SCAN\",\"PRIV_VIEW_SCHEDULE\",\"PRIV_VIEW_SITES\",\"PRIV_VIEW_VULN\"],\"hasJumped\":false,\"primaryClient\":78637,\"allSitesAdmin\":[78637],\"hasAssets\":true}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 1871,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
