{
  "log": {
    "_recordingName": "fetch-application-assessments",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "25033a65e6c1ca4ef2a7143650b04ac3",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "key",
              "value": "376bf3a0-248c-4743-8ba5-144bc8192b9c"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://sentinel.whitehatsec.com/api/whoami"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=UTF-8",
            "size": 303,
            "text": "{\"id\":81197,\"username\":\"stefan.virag@contractor.jupiterone.com\",\"isAdmin\":false,\"privileges\":[\"PRIV_ASK_QUESTION\",\"PRIV_BLA_VIEW\",\"PRIV_VIEW_BETA\",\"PRIV_VIEW_SCAN\",\"PRIV_VIEW_SCHEDULE\",\"PRIV_VIEW_SITES\",\"PRIV_VIEW_VULN\"],\"hasJumped\":false,\"primaryClient\":78637,\"allSitesAdmin\":[78637],\"hasAssets\":true}\n"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 675,
      },
      {
        "_id": "1efff20794f3424df9e1261687dd3e0e",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "key",
              "value": "376bf3a0-248c-4743-8ba5-144bc8192b9c"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "limit",
              "value": "50"
            },
            {
              "name": "offset",
              "value": "0"
            }
          ],
          "url": "https://sentinel.whitehatsec.com/api/assets?limit=50&offset=0"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=UTF-8",
            "size": 1220,
            "text": "{\"page\":{\"totalCount\":8,\"filteredCount\":8},\"collection\":[{\"id\":171312,\"subID\":27972,\"name\":\"DVWA\",\"type\":\"application\",\"location\":[],\"serviceLevel\":\"SE\",\"clientRatingMethod\":\"advanced\",\"phase\":\"\",\"status\":\"active\",\"customAssetID\":\"\",\"tags\":[],\"scheduleName\":\"\",\"scheduleTimeZone\":\"\",\"creationT\":1651167752,\"lang\":\"Discover\",\"averageLinesScanned\":5770,\"averageFileSize\":272466,\"assetSize\":\"X Small\",\"lastScanDateT\":1651168224,\"scanStatus\":\"Complete\",\"isWhiteHatEnabled\":false,\"activeUser\":true,\"keepUnreachableFindingsOpen\":{\"Bool\":false,\"Valid\":false},\"preScanStatus\":\"Approved\",\"scanLocation\":\"WhiteHat Cloud\"},{\"id\":171305,\"subID\":93966,\"name\":\"http://testaspnet.vulnweb.com\",\"type\":\"site\",\"location\":[\"http://testaspnet.vulnweb.com\"],\"serviceLevel\":\"SE\",\"clientRatingMethod\":\"advanced\",\"phase\":\"\",\"status\":\"active\",\"customAssetID\":\"\",\"tags\":[],\"scheduleName\":\"\",\"scheduleTimeZone\":\"\",\"creationT\":1651161766,\"lang\":\"\",\"averageLinesScanned\":null,\"lastScanDateT\":null,\"scanStatus\":\"Complete\",\"isWhiteHatEnabled\":true,\"activeUser\[...]
